<body>
<div id="top" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="font-size: 15pt;"><span > Задачи</span></div>
<div id="top" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="font-size: 30pt;"><span  id="go" onclick="showAdd();">+</span></div>
	<input name="_method" type="hidden" value="todos_path" />
	<% @projects.each do |i| %>
		<div id="project" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<div id="p_name">
				<%=i.title %>
			</div>
			<hr></hr>
			<div id="todos">
				<% i.todos.each do |j| %>
					<%= form_tag("/todos/j.id", :method => "put", :class => 'subform') do %>
						<p>
							<%= form_for :todo, :id => "todos" do |f| %>  
							<%= f.hidden_field :id, :value => j.id %> 
							<label>
								<%= f.check_box :isCompleted,{checked: j.isCompleted}%>		
								<span >
									<%=j.text%>
								</span>
							</label>
						</p>   
						<%end%>
					<%end%>
				<%end %>
			</div>
		</div>
	<%end %>
<div>



<div id="modal_form">
	<div id="addTop" >НОВАЯ ЗАДАЧА</div>
	<hr></hr>
	<%= form_for Todo.new do |f| %>    
		<div id="todos">
			<p><%= f.text_field :text , :placeholder => "Название задачи..." %></p>
			<%= f.select :project_id,options_from_collection_for_select( @projects,:id ,:title ) %>
			<%= f.hidden_field :isCompleted, :value =>"false" %>
			<p>
				<button type="button" id="btn_c" onclick="hideAdd();">Cancel</button>
				<button type="submit" id="btn_ok" style="backcolor:blue" >OK</button>
			</p>
		</div>
		<%end%>
	</div>
</div>
<div id="overlay" onclick="hideAdd();"></div>
</body>